* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: unset;
    outline: unset;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
